body {
  font-family: "Helvetica";
  padding: 10px;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
  background-color: gray;
  height: 50px;
}

td {
  background-color: darkgray;
  height: 30px;
  width: 33%;
}

.input-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 400px;
}

.input-box {
  display: inline-flex;
  flex-direction: column-reverse;
}

.input-box label {
  margin-bottom: 15px;
}

.input-box input {
  height: 30px;
  width: 350px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.input-box input:hover {
  border: 2px solid darkgray;
}

.input-box input:focus {
  border: 2px solid blue;
  outline: none;
}

.input-box input:focus + label {
  font-weight: bold;
}

#current-scale {
  color: red;
}